*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: rgb(101, 101, 237);
} */
form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;

   
    height: 100vh;
    
}
#rightheader{
    margin: 0 40px;
}
form div{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.inputfield{
    width: 400px;
    font-size: 20px;
    height: 40px;
    font-weight: 500;
    font-family: Geologica;
    padding-left: 3px;
    padding-top: 2px;
    border: none;
    border-radius: 5px;
    background-color: rgba(234, 236, 236, 0.903);
}
.inputfield:focus{
    outline: solid rgb(231, 86, 60) ;
    outline-width: 0px;
}

#Submit{
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: Geologica;
    color: white;
    background-color: rgb(231, 86, 60);
    border-radius: 5px;
    border: none;
    cursor: pointer;

    
    
    
}
#Submit:hover{
    background-color: rgb(233, 115, 94);
}
#Submit:active{
    background-color: rgb(244, 137, 118);
}
#form-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.633);
    padding: 45px 50px;
    box-shadow: 2px 2px 10px grey ;
    margin-top: 120px;
    
}
hr {
    
    
    background-color: grey;
    margin-top: 25px;
    margin-bottom: 25px;
}

#googleregisterdiv a button{
    border: none;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(67, 67, 240);
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    font-family: Geologica;
    cursor: pointer;
    
}


#googleregisterdiv a button:hover{
    background-color: rgb(101, 101, 237)

}
.inputdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: rgba(234, 236, 236, 0.903);
    
}
.image{
    height: 20px;
    width: 30px;
}

#registerdiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    
}

#hr{
    display: inline-block;
    flex: 1;
    height: 2px;
    
    background-color:  rgb(244, 137, 118);
    border:none  rgb(244, 137, 118);
    


}

#loginbutton{
    border: none;
    height: 50px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(231, 86, 60);
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    font-family: Geologica;
    cursor: pointer;
    padding: 0 20px;
    
}
p{
    font-family: Geologica;
    display: inline;
    font-weight: 600;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    color:  rgb(244, 137, 118);
}